*,
*::before,
*::after {
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-family: fira-sans, sans-serif;
}

body {
  color: #f8f8f8;
}

h1 {
  font-size: 48px;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

.site {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url("../assets/people.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.8;
}

.logo {
  top: 40px;
  left: 40px;
  position: absolute;
}

.content {
  top: 50%;
  left: 50%;
  margin: 0 40px;
  position: relative;
  transform: translate(-50%, -50%);
  text-align: center;
}

.table {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: block;
}

.row {
  clear: both;
  width: 100%;
  content: "";
  display: table;
}

.row::after {
  clear: both;
  width: 100%;
  content: "";
  display: table;
}

.column {
  width: 25%;
  float: left;
  display: block;
  text-align: left;
}

.contact {
  bottom: 40px;
  left: 40px;
  position: absolute;
}

@media (max-width: 800px) {
}
